
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*****************************/
/********GLOBAL STYLE*********/
/*****************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light: #F2F3D9;
    --brass: #DC9E82;
    --contrast: #C16E70;
    --dark: #151E3F;
    --darker: #030027;
}

body {
    background-color: var(--light);
    font-family: 'Poppins', Arial, sans-serif;
    color: var(darker);
    text-align: center;
}

/*****************************/
/*********TYPOGRAPHY**********/
/*****************************/

h1 {
    text-transform: capitalize;

}

.company-name {
    font-weight: 600;
    text-transform: uppercase;
}

/*****************************/
/***********HEADER************/
/*****************************/

.navigation {
    background-color: var(--darker);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-between;
    list-style: none;
}

.hero {
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: var(--contrast);
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    max-width: 280px;
    height: 350px;
}